.card-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: 50vh;
  justify-content: space-between;
  padding: 2px;
  gap: 20px;
}

.card {
  background-color: #f5f5f5;
  padding: 1px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.card>img{
  width: 50%;
  height: 30%;
}

.card h2 {
  font-size: 1rem;
  /* margin-bottom: 8px; */
}

.card p {
  font-size: 0.8rem;
}

#button{
    width: 50%;
    word-spacing:10%;
    line-height: 85%;
}